<article class="nav">
	<a ui-sref="main" class="main">
		<img src="../images/glyphicons-21-home.png">
	</a>
</article>
<article class="">
	<h2>About this project</h2>
	<p>
		<h4>Am I in STL? makes figuring out St. Louis, Missouri politicians and political boundaries by address a cinch. Inspired by <a href="http://amiinlasvegas.com/" target="_blank">Am I In Las Vegas?</a> and powered by a passion for civic tech. Created by a former citizen of St. Louis.

		A revamp of the existing <a href="http://amiinstl.herokuapp.com">AmIInSTL?</a> but in AngularJS.

		Open source on github at https://github.com/fungjj92/AmIInSTL2
		</h4>
	</p>
</article>
