<article class="topbar">
    <section id="title">
        <h1>Where Am I in STL?</h1>
        <aside>Find municipality or ward information by spatial location</aside>
    </section>
    <section class="geoform">
        <p>
            <input type="button" id="enteraddress" class="btn btn-success" value="Enter street address" ng-click="main.onAddressClicked()">
			&nbsp;-or-&nbsp;
            <input type="button" id="geoID" class="btn btn-warning" ng-click="main.onGeolocateClicked()" value="Find Me!">
        </p>
    </section>
</article>
<div ng-if="main.error">Oops! There was an issue getting data: {{ main.error }}</div>
<div class="infobox" ng-if="main.popupText">
    <h4>Location Info</h4>
    <ul>
        <li ng-repeat="(key, value) in main.popupText">
            {{ key }}: {{ value }}
        </li>
        <li ng-if="website" ng-bind-html="website">
        </li>
    </ul>
</div>
<cartodb-vis></cartodb-vis>
<article class="nav">
	<a ui-sref="about"><img src="../images/glyphicons-196-info-sign.png"></a>
</article>