<article class="sidebar">
    <section id="title">
        <h1>Where Am I in STL?</h1>
        <aside>Find municipality or ward information by spatial location</aside>
    </section>
    <section class="geoform">
        <p>
            <input type="button" id="enteraddress" class="btn btn-success" value="Enter street address">
			&nbsp;-or-&nbsp;
            <input type="button" id="geoID" class="btn btn-warning" value="Find Me!">
        </p>
    </section>
</article>
<article class="nav">
	<a ui-sref="main">Main</a>
	<a ui-sref="about">About</a>
</article>